salesforce/force-app/main/default/flows/Create_Chat_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <description>Creates a Chat Summary record to store conversation summaries for future reference and personalization.</description>
    <interviewLabel>Create Chat Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Chat Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value><stringValue>LightningFlowBuilder</stringValue></value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_ContactId</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- Input Variables -->
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The Salesforce Contact ID for the customer</description>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The unique session identifier for this conversation</description>
    </variables>
    <variables>
        <name>summaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>The conversation summary text</description>
    </variables>
    <variables>
        <name>sentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Overall conversation sentiment: positive, neutral, or negative</description>
    </variables>
    <variables>
        <name>topicsDiscussed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Semicolon-separated list of topics discussed in the conversation</description>
    </variables>

    <!-- Output Variables -->
    <variables>
        <name>outputSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>outputRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <!-- Decision: Check if contactId is provided -->
    <decisions>
        <name>Check_ContactId</name>
        <label>Check ContactId</label>
        <locationX>176</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Set_Skipped</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No ContactId</defaultConnectorLabel>
        <rules>
            <name>Has_ContactId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Summary_Record</targetReference>
            </connector>
            <label>Has ContactId</label>
        </rules>
    </decisions>

    <!-- Skipped Assignment (anonymous user) -->
    <assignments>
        <name>Set_Skipped</name>
        <label>Set Skipped</label>
        <locationX>400</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Skipped: No contactId provided (anonymous user)</stringValue></value>
        </assignmentItems>
    </assignments>

    <!-- Create Record -->
    <recordCreates>
        <name>Create_Summary_Record</name>
        <label>Create Summary Record</label>
        <locationX>176</locationX>
        <locationY>250</locationY>
        <connector>
            <targetReference>Set_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Customer_Id__c</field>
            <value><elementReference>contactId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Id__c</field>
            <value><elementReference>sessionId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_Text__c</field>
            <value><elementReference>summaryText</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment__c</field>
            <value><elementReference>sentiment</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics_Discussed__c</field>
            <value><elementReference>topicsDiscussed</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <field>Session_Date__c</field>
            <value><elementReference>$Flow.CurrentDate</elementReference></value>
        </inputAssignments>
        <object>Chat_Summary__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- Success Assignment -->
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>176</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputRecordId</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>Create_Summary_Record</elementReference></value>
        </assignmentItems>
    </assignments>

    <!-- Error Assignment -->
    <assignments>
        <name>Set_Error</name>
        <label>Set Error</label>
        <locationX>400</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>outputSuccess</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>outputError</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>
</Flow>
